:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

::ng-deep .mat-mdc-snack-bar-container {
  background: var(--charcoal);
}

.snackbar-message {
  flex: 1;
}

.success {
  color: var(--emerald);
}

.error {
  color: var(--blaze);
}

.info {
  color: var(--amber);
}
