<section class="calls">
  <h1 class="calls__title title-1">Calls</h1>
  <div class="calls__buttons">
    <input
      type="text"
      class="calls__search search"
      placeholder="Search call..."
      (input)="onSearch($event)"
    />
    <div>
      <select class="calls__sort select" (change)="onFilterChange($event)">
        <option class="calls__option" value="all">All Calls</option>
        <option class="calls__option" value="newest">Newest First</option>
        <option class="calls__option" value="oldest">Oldest First</option>
        <option class="calls__option" value="longest">Longest Duration</option>
        <option class="calls__option" value="shortest">
          Shortest Duration
        </option>
        <option class="calls__option" value="most_expensive">
          Most Expensive
        </option>
        <option class="calls__option" value="cheapest">Least Expensive</option>
      </select>
      <button class="calls__add btn" (click)="openAddCallDialog()">
        + Add
      </button>
    </div>
  </div>

  @if (!isLoading()) {
  <!-- desktop -->
  <table class="calls__table">
    <thead>
      <tr>
        <th>Subscriber</th>
        <th>City</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Time of Day</th>
        <th>Cost</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (call of filteredCalls(); track call._id) {
      <tr>
        <td>{{ call.subscriber | phoneNumberFormat }}</td>
        <td>{{ call.city }}</td>
        <td>{{ call.date | date }}</td>
        <td>{{ call.duration | durationFormat }}</td>
        <td>{{ call.timeOfDay }}</td>
        <td>{{ (call.cost / 100).toFixed(2) | currency }}</td>
        <td>
          <button class="calls__delete" (click)="deleteCall(call._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      } @empty {
      <div class="calls__empty">Calls not found</div>
      }
    </tbody>
  </table>

  <!-- tablet/mobile -->
  <div class="calls__list">
    @for (call of filteredCalls(); track call._id) {
    <div class="calls__item">
      <div class="calls__row">
        <div class="calls__label">Subscriber:</div>
        <div class="calls__value">
          {{ call.subscriber | phoneNumberFormat }}
        </div>
      </div>
      <div class="calls__row">
        <div class="calls__label">City:</div>
        <div class="calls__value">{{ call.city }}</div>
      </div>
      <div class="calls__row">
        <div class="calls__label">Date:</div>
        <div class="calls__value">{{ call.date | date }}</div>
      </div>
      <div class="calls__row">
        <div class="calls__label">Duration:</div>
        <div class="calls__value">{{ call.duration | durationFormat }}</div>
      </div>
      <div class="calls__row">
        <div class="calls__label">Time of Day:</div>
        <div class="calls__value">{{ call.timeOfDay }}</div>
      </div>
      <div class="calls__row">
        <div class="calls__label">Cost:</div>
        <div class="calls__value">
          {{ (call.cost / 100).toFixed(2) | currency }}
        </div>
      </div>
      <div class="calls__row">
        <div class="calls__label">Action:</div>
        <button class="calls__delete" (click)="deleteCall(call._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    } @empty {
    <div class="calls__empty">Calls not found</div>
    }
  </div>
  } @else {
  <div class="loading">
    <mat-spinner class="custom-spinner" />
  </div>
  }
</section>
