<nav class="nav-bottom">
  <ul class="nav-bottom__menu">
    <li class="nav-bottom__item">
      <a
        routerLink="subscribers"
        routerLinkActive="selected"
        class="nav-bottom__link"
      >
        <mat-icon class="nav-bottom__icon">supervisor_account</mat-icon>
        <span class="nav-bottom__text">Subscribers</span>
      </a>
    </li>
    <li class="nav-bottom__item">
      <a
        routerLink="cities"
        routerLinkActive="selected"
        class="nav-bottom__link"
      >
        <mat-icon class="nav-bottom__icon">location_city</mat-icon>
        <span class="nav-bottom__text">Cities</span>
      </a>
    </li>
    <li class="nav-bottom__item">
      <a
        routerLink="calls"
        routerLinkActive="selected"
        class="nav-bottom__link"
      >
        <mat-icon class="nav-bottom__icon">call</mat-icon>
        <span class="nav-bottom__text">Calls</span>
      </a>
    </li>
  </ul>
</nav>
